<!--Menu responsivo-->
<div class="nav">
  <button type="button"><a href="header.component.html"><h5>HOME</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>GAMES</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>MONTE SEU PC</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>HARDWARE</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>ACESSÓRIOS</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>SMARTPHONES</h5></a></button>
  <button type="button"><a href="header.component.html"><h5>WORK</h5></a></button>
</div>

<!--Barra de Pesquisa-->
<div class="search-bar">
  <form class="search-bar" role="search">
    <input class="search-bar" type="text" placeholder="Pesquisa..." id="searchInput" onkeyup="searchProducts()">
    <button type="submit">PESQUISAR</button>
  </form>
</div>
