<header>
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-2">
        <a href="header.component.html" class="logo"><img src="Img/logoGM.png" alt="logo" class="img-fluid"></a>
      </div>
      <div class="col-7 align-self-center">
        <a><img src="" class="img-fluid" alt="Imagem responsiva"></a>
      </div>
      <div class="col-1 align-self-center">
        <a href="construcao.html"><img src="Img/favorito1.png" alt="iconeCab1" class="img-fluid"></a>
      </div>
      <div class="col-1 align-self-center">
        <div class="cart">
            <img src="Img/compra1.png" alt="iconeCab2" class="img-fluid">
          <div class="cart-popup">Sem produtos adicionados no carrinho</div>
        </div>
      </div>
      <div class="col-1 align-self-center">
        <div id="loginSection">
            <!-- Botão de Login ou Imagem do Usuário -->
            <!-- Botão de Login agora como link -->
            <a href="login.html" id="loginButton" class="button"><img src="Img/loginButton.png" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </div>
</header>
